@model IEnumerable<TwoTablesCommunicate.Models.Trainer>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table1" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainerName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TrainerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TrainerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TrainerId })
                    @Html.ActionLink("students","StudentByTrainer", new { id = item.TrainerId })
                </td>
            </tr>

        }
    </tbody>
</table>
