
@{
    Layout = "~/views/shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>
            Index view content
        </h2>

        @*  <input type="text" value="Name" /><input type="button" value="Submit" />*@
        @Html.Partial("_partialview")
    </div>
    @Html.ActionLink("go To Index1", "Index1")<br />

    @Html.ActionLink("go to  Action", "Action") <br />
    @Html.ActionLink("go To RenderAction", "RenderAction")
</body>
</html>

@section mysection
    {

    <p>
        this is another Dynamic content from Index page
    </p>
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Action</title>
    </head>
    <body>
        <div>
            @* @Html.Action("Action")*@
            @Html.Action("Action")
        </div>

        @Html.ActionLink("go To Index1", "Index1")

    </body>
</html>


}
